 
  /*--- end of reset ----*/
  
  :root {
    --blanco: rgb(12, 12, 12);
    --gris-oscuro: #070707;
    --main-font: "Oswald", sans-serif;
    --secondary-font: "Open Sans", sans-serif;
    --background: rgba(26, 23, 24, 0.7);
  }
  body{
    background: url(./images.jpg);
background-size: cover;
background-attachment: fixed;
font-family: 'Roboto', sans-serif;
  }

  body, header, section   {
    align-items: center;
    background-color: var(--verde);
    display: flex;
    flex-direction: column;
    width: 110%;
  }
  
  .header {
    color: var(--blanco);
    font-family: var(--main-font);
    font-size: 60px;
    margin-top: 16px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  
  

  .message-input input {
    height: 150px;
    margin-bottom: 16px;
  }
  
  input {
    width: 300%;
  }
  
  input:focus{
    outline: 5px solid var(--verde);
    padding: 10px;
  }
  
  .send-button, .modal-button {
    align-items: center;
    background-color: var(--verde);
    border-radius: 5px;
    color: var(--rojo-oscuro);
    display: flex;
    height: 50px;
    justify-content: center;
    margin-bottom: 48px;
    width: 150px;
    margin-left: auto;
    font-size: 25px;
    cursor: pointer;               
  }
  
 