*{  
    margin:0;
    padding:0;
  }
  
  body{
    
    background-color:#f0f0f0;
    background-image: url("images/fondo2.png");
 
  }

  h2{
    color:#333;
    font-size: 25px;
    margin-bottom: 7px;
}

  p{
    margin-top: 10px;
}

  
  #bg{
    margin: 30px auto;
    padding: 5px;
    width: 400px;
    height: 300px;
    position:relative;
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.35);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .form{
    float:left;
    height:86%;
    width:100%;
    box-sizing:border-box;
    padding:20px;
  }
  .orient{
    text-align: left;
  }
  .textbox{
    border-radius:3px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    padding:10px;
    margin-bottom:15px;
    width: 280px;
  }
  
  .textbox:focus{
    outline:none;
     border:rgba(24,149,215,1) 2px solid;
  }
  
  .button{
    height:40px;
    width:50%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:border-box;
    padding:10px;
    margin: 10px auto;
    background:#FF5151;
    color:#FFF;
    font-weight:bold;
    font-size: 12pt;
    transition:background .4s;
    cursor:pointer;
  }
  
  .button:hover{
    background:#B22222;
    
  }

  .hiper{
      text-align: right;
  }

  .hiper a{
    text-decoration: none;
    color:midnightblue;
}

.header{
  background: #333;
  color: white;
  height: 60px;
}

.header a{
  color: white;
  padding: 12px;
  font-size: 25px;
  font-family: 'Segoe UI';
  text-decoration: none;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.35);
}

.Logo{
  display: flex;
  justify-content:space-between;
  align-items: center;
}